# OS X Files
._*
.DS_Store

# Configuration files
config.json

# Binaries
kittens

# SQLite databases
*.db

# Editor temporary files
*~
\#*
.\#*

# Folders
bower_components
node_modules
logs

# Fonts
FontAwesome.*
fontawesome-webfont.*

# Sessions
app/sessions/session_*

# Bootstrap css
app/assets/css/bootstrap.css
