# OS X Files
._*
.DS_Store

# Configuration files
.env

# Binaries
kittens

# SQLite databases
*.db

# Editor temporary files
*~
\#*
.\#*

# Folders
/bower_components
/node_modules
/public/assets/css
/public/assets/js

# Fonts
FontAwesome.*
fontawesome-webfont.*
