.center-wrap {
    width: 100%;
    height: 100%;
    display: table;

    .center {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

form.form {
    margin-bottom: 15px;

    .form-row {
        width: 100%;
        display: table;
        background-color: lighten(@brand-light, 100%);
        padding: 10px;
        margin: 10px 0;

        label,
        input {
            display: table-cell;
        }

        label {
            width: 0;
            padding-right: 5px;
            font-weight: normal;
            .lato_bold;
        }

        input {
            width: 100%;
            border: 0;
        }
    }
}

button {
    border: 0;
    padding: 10px;
    color: @brand-light;

    @media(max-width: @screen-xs) {
        width: 100%;
    }

    &.submit {
        .buttonify(@brand);
    }

    &.enable {
        .buttonify(@brand-success);
    }

    &.disable {
        .buttonify(@brand-error);
    }
}

ul.errors {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        width: 100%;
        background-color: @brand-error;
        padding: 10px;
        color: @brand-light;
        margin-bottom: 10px;
    }
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: fade(@brand-dark, 60%);
    z-index: 100;
    display: block;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .content {
        width: 100%;
        max-width: @screen-xs;
        margin: auto;
        background-color: @brand-light;
        padding: 15px;
    }

    img.qr {
        width: 100%;
    }

    p {
        margin-top: 10px;
    }

    form.form {
        margin-bottom: 0;
    }
}
