@import          "../../bower_components/font-awesome/less/font-awesome";
@import (inline) "../../bower_components/normalize-css/normalize.css";

@import "fonts";
@import "variables";
@import "login";
@import "common";

@import "mixins/buttonify";
@import "mixins/placeholder";

* {
    box-sizing: border-box;
}

html,
body {
    background-color: @brand-light;
    height: 100%;
    width: 100%;
    font-size: 14px;
    .lato;
}
