.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: @brand-dark;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: block;

            a {
                padding: 20px;
                display: block;
                color: @brand-light;
                border-bottom: 1px solid darken(@brand-dark, 3%);
                .buttonify(@brand-dark);
                font-size: 14px;
                text-align: center;
            }

            &:first-child {
                a {
                    font-size: 20px;
                    line-height: 20px;
                    .buttonify(@brand);
                }
            }
        }
    }
}
