[[ define "register" ]]
[[ template "header" ]]
<body class="login">
    <div class="center-wrap">
        <div class="center">
            <form id="register-form">
                <ul class="errors">
                    <li v-repeat="errors">{{error}}</li>
                </ul>

                <input type="text" placeholder="Username" v-model="username">
                <input type="password" placeholder="Password" v-model="password">
                <input type="email" placeholder="Email" v-model="email">
                <button class="submit" v-on="click: register">Register</button>
            </form>
            <ul class="links">
                <li><a href="/login">Already have an account?</a></li>
            </ul>
        </div>
    </div>
    [[ template "scripts" ]]
</body>
[[ template "footer" ]]
[[ end ]]
