{{ define "index" }}
	{{ template "header" }}

	{{ template "navigation" }}

	<div class="content">
		<div class="container-fluid max">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server">
						<div class="stat-icon">
							<i class="fa fa-database"></i>
						</div>
						{{ TotalServers }} 
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server red">
						<div class="stat-icon red">
							<i class="fa fa-times"></i>
						</div>
						{{ DisabledServers }} 
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server yellow">
						<div class="stat-icon yellow">
							<i class="fa fa-ellipsis-h"></i>
						</div>
						{{ EnabledServers }}
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server green">
						<div class="stat-icon green">
							<i class="fa fa-link"></i>
						</div>
						{{ ConnectedServers }}
					</div>
				</div>
			</div>

			<!-- Servers -->

			<div class="row">
				<div class="col-xs-12">
					<h1>Servers</h1>
				</div>
			</div>
			{{ range . }}
			<div class="row">
				<div class="col-xs-12">
					{{ if .Enabled }}
						{{ if .Connected }}
							<div class="server green">
								<div class="stat-icon green">
									<i class="fa fa-check"></i>
								</div>

								{{ .ServerName }}
							</div>
						{{ else }}
							<div class="server yellow">
								<div class="stat-icon yellow">
									<i class="fa fa-ellipsis-h"></i>
								</div>

								{{ .ServerName }}
							</div>
						{{ end }}
					{{ else }}
						<div class="server red">
							<div class="stat-icon red">
								<i class="fa fa-times"></i>
							</div>

							{{ .ServerName }}
						</div>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>

	{{ template "footer" }}
{{ end }}
