{{ define "index" }}
	{{ template "header" }}

	{{ template "navigation" }}

	<div class="content">
		<div class="container-fluid max">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server-info">
						<div class="stat-icon">
							<i class="fa fa-database"></i>
						</div>
						{{ TotalServers }} 
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server-info red">
						<div class="stat-icon red">
							<i class="fa fa-times"></i>
						</div>
						{{ DisabledServers }} 
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server-info green">
						<div class="stat-icon green">
							<i class="fa fa-check"></i>
						</div>
						{{ EnabledServers }}
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="server-info green">
						<div class="stat-icon green">
							<i class="fa fa-link"></i>
						</div>
						{{ ConnectedServers }}
					</div>
				</div>
			</div>

			<!-- Servers -->

			<div class="row">
				<div class="col-xs-12">
					<h1>Servers</h1>
				</div>
			</div>

			{{ range . }}

				<div class="row">
					<div class="col-xs-12">
						<a href="/server/{{ .Id }}">
							{{ if .Enabled }}
								{{ if .Connected }}
									<div class="server green">
										<div class="stat-icon green">
											<i class="fa fa-link"></i>
										</div>
										<div class="pull-left">
											&nbsp;
											Online for <span data-livestamp="{{ .Timestamp }}" class="timestamp"></span>
										</div>
										{{ .ServerName }}
									</div>
								{{ else }}
									<div class="server yellow" data-id="{{ .Id }}">
										<div class="stat-icon yellow">
											<i class="fa fa-ellipsis-h"></i>
										</div>
										<div class="pull-left">
											&nbsp;
											Connecting
										</div>
										{{ .ServerName }}
									</div>
								{{ end }}
							{{ else }}
								<div class="server red" data-id="{{ .Id }}">
									<div class="stat-icon red">
										<i class="fa fa-times"></i>
									</div>
									<div class="pull-left">
										&nbsp;
										Disabled
									</div>
									{{ .ServerName }}
								</div>
							{{ end }}
						</a>
					</div>
				</div>
			{{ end }}
			
			<div class="row">
				<div class="col-xs-12">
					<div class="server new">
						<div class="stat-icon">
							<i class="fa fa-plus"></i>
						</div>
						Add A New Server
					</div>
				</div>
			</div>

		</div>
	</div>

	{{ template "footer" }}
{{ end }}
