{{ define "login" }}
	{{ template "header" }}

	<div class="login-container">
		<div class="login-holder">
			<div class="login">
				<form action="/login" method="POST">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" placeholder="Username"/>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" placeholder="Password"/>
					<input type="submit" value="Login"/>
				</form>
			</div>
		</div>
	</div>

	{{ template "footer" }}
{{ end }}
