{{ define "new_server" }}
	{{ template "header" }}

	{{ template "navigation" }}

	<div class="content">
		<div class="container-fluid max">

			<!-- Form -->

			<div class="row">
				<div class="col-xs-12">
					<h1>Server Information</h1>
				</div>
			</div>

			<form name="update" method="POST" action="/server/new">

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="nick">Nick</label>
							<input name="nick" id="nick" type="text"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="realname">Real&nbsp;Name</label>
							<input name="realname" id="realname" type="text" value="Kittens IRC Bot"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="host">Host</label>
							<input name="host" id="host" type="text" value="kittens"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="servername">Server&nbsp;Name</label>
							<input name="servername" id="servername" type="text"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="network">Network</label>
							<input name="network" id="network" type="text"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="port">Port</label>
							<input name="port" id="port" type="text" value="6667"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="password">Password</label>
							<input name="password" id="password" type="text"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="ssl">SSL</label>
							<input name="ssl" id="ssl" type="text" value="false"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<input type="submit" id="submit" value="Add New Server"/>
					</div>
				</div>

			</form>

		<!-- -->
		</div>
	</div>

	{{ template "footer" }}
{{ end }}
