{{ define "settings" }}
	{{ template "header" }}

	{{ template "navigation" }}

	<div class="content">
		<div class="container-fluid max">

			<div class="row">
				<div class="col-xs-12">
					<h1>Hello, {{ .Username }}!</h1>
				</div>
			</div>

			<hr>

			<!-- Form -->

			<div class="row">
				<div class="col-xs-12">
					<h2>Settings</h2>
				</div>
			</div>

			<form name="update" method="POST" action="/settings">
				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="username">Username</label>
							<input name="username" id="username" type="text" value="{{ .Username }}"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="password">Password</label>
							<input name="password" id="password" type="password"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<input type="submit" id="submit" value="Update Settings"/>
					</div>
				</div>
			</form>

			<br/><hr>

			<!-- Two Factor Auth -->

			<div class="row">
				<div class="col-xs-12">
					<h2>Two Factor Auth</h2>
				</div>
			</div>

			{{ if .Twofa }}

				<div id="tfa">
					<div class="row">
						<div class="col-xs-12">
							You currently have 2FA set up on this account.
						</div>
					</div>

					<br/>

					<div class="row">
						<div class="col-xs-12">
							<button id="twofa_disable" class="twofa_disable">Disable 2FA</a>
						</div>
					</div>
				</div>

			{{ else }}

				<div id="tfa">
					<div class="row" id="message">
						<div class="col-xs-12">
							You do not currently have 2FA set up on this account.
						</div>
					</div>

					<br/>

					<div class="row">
						<div class="col-xs-12">
							<button id="twofa_enable" class="twofa_enable">Enable 2FA</button>
						</div>
					</div>

					<div class="lightbox">
						<div class="inner">
							<div id="qr">
								<h2>Two Factor Auth via Google Authenticator</h2>
								<img src="" id="qrcode">
								<br/><br/>

								You must use Google Authenticator, Authy, or any other
								app that supports Google Authenticator. After using the QR code
								you must enter a token to verify that you wish to enable 2FA on
								your account.

								<form name="update" method="POST" action="/settings/2fa/verify">
									<div class="server-info form">
										<label for="token">Token</label>
										<input name="token" id="token" type="text"/>
									</div>
									<button class="twofa_enable pull-left" id="twofa_verify">Verify</button>
									<button class="twofa_disable pull-right" id="twofa_cancel">Cancel</button>
								</form>
								<br/><br/>
							</div>
						</div>
					</div>
				</div>

			{{ end }}

		</div>
	</div>

	{{ template "footer" }}
{{ end }}
