{{ define "users" }}
	{{ template "header" }}

	{{ template "navigation" }}

	<div class="content">
		<div class="container-fluid max">

			<!-- List Users -->

			<div class="row">
				<div class="col-xs-12">
					<h1>Users</h1>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th><span class="hidden-xs">Administrator</span><span class="visible-xs">Admin</span></th>
						<th><span class="hidden-xs">Two Factor Auth</span><span class="visible-xs">2FA</span></th>
						<th>Created</th>
					</tr>
					{{ range . }}
						<tr>
							<td>{{ .Id }}</td>
							<td>{{ .Username }}</td>
							<td class="switch_admin" data-id="{{ .Id }}">
								{{ if .Admin }}
									<div class="disable">Disable</div>
									<i class="fa fa-check"></i>
								{{ else }}
									<div class="enable">Enable</div>
									<i class="fa fa-times"></i>
								{{ end }}
							</td>
							<td>
								{{ if .Twofa }}
									<i class="fa fa-check"></i>
								{{ else }}
									<i class="fa fa-times"></i>
								{{ end }}
							</td>
							<td><span data-livestamp="{{ UnixTime .CreatedAt }}"></span> ago</td>
						</tr>
					{{ end }}
				</table>
			</div>

			<!-- Create User -->

			<div class="row">
				<div class="col-xs-12">
					<h1>Create User</h1>
				</div>
			</div>

			<form name="update" method="POST" action="/users/new">

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="username">Username</label>
							<input name="username" id="username" type="text"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="password">Password</label>
							<input name="password" id="password" type="password"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="server-info form">
							<label for="admin">Admin</label>
							<i class="fa fa-times checkbox" data-for="admin"></i>
							<input name="admin" class="hidden" id="admin" type="text" value="false">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<input type="submit" id="submit" value="Create User"/>
					</div>
				</div>


			</form>

		</div>
	</div>

	{{ template "footer" }}
{{ end }}

