/*
|--------------------------------------------------------------------------
| Servers
|--------------------------------------------------------------------------
*/

.server {
	background-color: lighten(@white, 100%);
	padding: 15px;
	margin: 10px 0;
	text-align: right;
	border-bottom: 1px solid @blue;
	overflow: auto;
	font-size: 20px;
	line-height: 40px;

	&.red {
		border-color: @red;
	}

	&.green {
		border-color: @green;
	}

	&.yellow {
		border-color: @yellow;
	}

	.stat-icon {
		width: 40px;
		height: 40px;
		text-align: center;
		background-color: @blue;
		display: inline-block;
		.rounded(100%);
		float: left;
		color: @white;

		&.red {
			background-color: @red;
		}

		&.green {
			background-color: @green;
		}

		&.yellow {
			background-color: @yellow;
		}
	}

	&.new {
		background-color: @white;
		border: 1px dashed fade(darken(@white, 40%), 40%);
		color: fade(darken(@white, 40%), 40%);
		cursor: pointer;

		.stat-icon {
			background-color: fade(darken(@white, 40%), 20%);
		}
	}
}
