@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

// Global Imports

@import "elements.less";
@import "fonts.less";
@import "variables.less";
@import "navigation.less";

// Page Specific Imports

@import "servers.less";

/*
|--------------------------------------------------------------------------
| Basic Attributes
|--------------------------------------------------------------------------
*/

html, body {
	height: 100%;
	width: 100%;
	.lato_light()
}

body {
	background-color: @white;
}

* {
	outline: none !important;
}

a {
	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	.lato()
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
*/

.content {
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;

	@media(max-width: @mobile) {
		padding-top: 65px;
		padding-left: 0;
	}

	.max {
		max-width: 1200px;
	}
}

