/*
|--------------------------------------------------------------------------
| Site Colors
|--------------------------------------------------------------------------
*/

@white:       #f6f6f6;
@black:       #333333;

@blue:        #6ba4c4;

@red:         spin(@blue, 150%);
@green:       spin(@blue, 320%);
@yellow:      spin(@blue, 205%);

@asphalt:     #32323b;
@dasphalt:    #28282f;
@concrete:    #3c3c45;

/*
|--------------------------------------------------------------------------
| Site Sizes
|--------------------------------------------------------------------------
*/

@mobile:      768px;

